.container {
  max-width: 1200px;
  margin: 0 auto;
}
@media (max-width: 1220px) {
  .container {
    max-width: 900px;
  }
}
@media (max-width: 920px) {
  .container {
    max-width: 600px;
  }
}
@media (max-width: 620px) {
  .container {
    max-width: 400px;
  }
}
