@import "fonts/fonts.css";
* {
  margin: 0;
  padding: 0;
  font-size: 12px;
}
body {
  background: #efeeee;
  font-family: 'Ubuntu';
}
html,
body,
#container {
  height: 100%;
}
.app {
  display: flex;
  flex-direction: column;
  height: 100%;
  max-width: 1250px;
  margin: 0 auto;
  background: #ffffff;
}
button {
  width: 120px;
  height: 38px;
  border: 1px solid #e5e5e5;
  box-sizing: border-box;
}
#entities {
  flex: 1 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0 auto;
  background: #ffffff;
  padding: 25px;
}
#entities .entitie {
  opacity: 1;
  width: 270px;
  height: 425px;
  padding: 10px;
  margin-top: 50px;
  border: 1px solid #e5e5e5;
  box-sizing: border-box;
  cursor: pointer;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
}
#entities .entitie .entitie_image {
  height: 250px;
  width: 250px;
  border: 1px solid #e5e5e5;
  box-sizing: border-box;
  margin: -30px auto;
  background-image: url('images/img_product.png');
  background-position: center;
}
#entities .entitie .entitie_buttons_container {
  display: flex;
  justify-content: space-between;
}
#entities .entitie .entitie_text {
  height: 145px;
  margin: 30px auto 0;
}
#entities .entitie .entitie_text h2 {
  color: #333333;
  font-size: 14px;
  line-height: 45px;
}
#entities .entitie .entitie_text p {
  font-size: 11px;
  line-height: 17px;
  color: #acabab;
}
#entities .entitie .entitie_discount,
#entities .entitie .entitie_new {
  position: absolute;
  margin-top: 116px;
  width: 70px;
  height: 38px;
  color: white;
  text-align: center;
  line-height: 38px;
  text-transform: uppercase;
  font-size: 13px;
}
#entities .entitie .entitie_new {
  background: black;
  margin-left: 179px;
}
#entities .entitie .entitie_discount {
  background: #ed1111;
  margin-left: -1px;
}
#entities .entitie .entitie_add {
  background: #ffffff;
  color: #ed1111;
  text-transform: uppercase;
  font-size: 13px;
  cursor: pointer;
  outline: none;
}
#entities .entitie .entitie_view {
  background: #d9d9d9;
  color: #999e9f;
  text-transform: uppercase;
  font-size: 13px;
  cursor: pointer;
  outline: none;
}
#entities .entitie .price {
  line-height: 45px;
}
#entities .entitie .price span:last-of-type {
  color: #ed1111;
  font-size: 17px;
  margin-left: 20px;
  vertical-align: baseline;
}
#entities .entitie .price span:last-of-type:before {
  content: '';
  width: 70px;
  height: 1px;
  position: absolute;
  background: #ed1111;
  margin-left: -4px;
  margin-top: 25px;
}
#entities .entitie .price span:first-of-type {
  font-size: 25px;
  margin: 0;
  color: #000;
  text-decoration: none;
}
#entities .entitie .price span:first-of-type:before {
  content: none;
}
#entities .entitie:hover {
  box-shadow: 0 1px 6px #d9d9d9, 1px 0 6px #d9d9d9, -1px 0 6px #d9d9d9;
}
#entities .entitie:hover .entitie_add {
  background: #ed8e8e;
}
#entities .load_button {
  width: 100%;
  height: 38px;
  display: flex;
  margin-top: 40px;
  margin-bottom: 20px;
}
#entities .load_button .entitie_load {
  margin: 0 auto;
  position: relative;
  background: #ffffff;
  cursor: pointer;
  outline: none;
  color: #ed1111;
  text-transform: uppercase;
}
#entities .load_button .entitie_load:hover {
  background: #ed8e8e;
}
#footer {
  position: relative;
  flex: 0 0 auto;
  display: flex;
  flex-wrap: wrap;
  background: #ffffff;
  justify-content: space-around;
  margin: 0 auto;
  width: 100%;
}
#footer .block {
  width: 370px;
  height: 309px;
  border: 1px solid #e5e5e5;
  box-sizing: border-box;
  padding: 45px 25px;
  margin-bottom: 10px;
}
#footer .block h1 {
  font-size: 20px;
  line-height: 14px;
  text-transform: uppercase;
  font-weight: 100;
  color: #333333;
}
#footer .block h4 {
  margin-top: 19px;
  font-size: 11px;
  line-height: 17px;
  color: #a5a4a4;
  margin-bottom: 10px;
}
#footer .block_1 li,
#footer .block_2 li {
  font-size: 11px;
  line-height: 18px;
  color: #a5a4a4;
  margin-left: 16px;
  list-style: none;
}
#footer .block_1 li:before,
#footer .block_2 li:before {
  content: "";
  border-color: transparent #ed1111;
  border-style: solid;
  border-width: 4px 0 4px 5px;
  display: block;
  height: 0;
  width: 0;
  left: -16px;
  top: 13px;
  position: relative;
}
#footer .block_3 h1 {
  margin-bottom: 20px;
}
#footer .block_3 .point {
  margin-top: 14px;
}
#footer .block_3 .point_img {
  font-family: 'FontAwesome';
  font-size: 31px;
  color: #ed1111;
  margin-left: 3px;
  width: 34px;
  display: inline-block;
}
#footer .block_3 .point_text,
#footer .block_3 .point_text_2 {
  font-size: 11px;
  color: #b3b2b2;
  display: inline-block;
  vertical-align: super;
}
#footer .block_3 .point_text_2 {
  margin-left: 37px;
}
#preloader {
  flex: 1 0 auto;
  margin: 0 auto;
  width: 100%;
  z-index: 1;
}
#preloader .spinWrap {
  width: 200px;
  height: 100px;
  position: fixed;
  top: 31%;
  left: 50%;
  margin-left: -98px;
  margin-top: -50px;
  background: #ffffff;
}
#preloader .spinWrap .loader {
  margin: 0 0 0 -55px;
  background-color: transparent;
  -webkit-animation: rotation .7s infinite linear;
  animation: rotation .7s infinite linear;
  border-left: 5px solid #cbcbca;
  border-right: 5px solid #cbcbca;
  border-bottom: 5px solid #cbcbca;
  border-top: 5px solid #ed1111;
  border-radius: 100%;
  height: 100px;
  width: 100px;
  position: absolute;
  top: 0;
  left: 50%;
  opacity: 1;
}
.load_button_hidden {
  display: none;
}
@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(359deg);
  }
}
@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
